<html>
    <body>
         <h3>{{.Symbol}}</h3>
         <h4>Hot balance is less than bottom soft limit</h4>
         Hot: {{.WalletBalance.TotalHotIdr}} IDR
         <ul>
            {{range $hot := .WalletBalance.HotBalances}} 
            <li>{{$hot.Name}}: {{$hot.Coin}} ({{$hot.Idr}})</li>
            {{end}}
         </ul>
         Limits
         <ul>
            {{range $key, $limit := .Limits}}
            <li>{{$key}}: {{$limit}}</li>
            {{end}}
         </ul>
    </body>
</html>