<html>
   <head>
      <style>
         table, th, td { border: 1px solid black; }
         table { border-collapse: collapse; }
         td { padding: 5px; }
         ul { list-style-type: none; padding-left: 0;}
      </style>
   </head>
    <body>
         <table>
            <tr style="text-align: center; font-weight: bold;">
               <td>Symbol</td>
               <td>Cold</td>
               <td>Hot</td>
               <td>User</td>
            </tr>
            {{range $balance := .WalletBalances}}
            <tr>
               <td style="text-align: center;">{{$balance.CurrencyConfig.Name}}</td>
               <td>
                  <ul>
                     {{range $cold := $balance.ColdBalances}}
                     <li>{{$cold.Name}}: {{$cold.Coin}} {{$balance.CurrencyConfig.Unit}} ({{$cold.Idr}} IDR)</li>
                     {{end}}
                  </ul>
               </td>
               <td>
                  <ul>
                     {{range $hot := $balance.HotBalances}}
                     <li>{{$hot.Name}}: {{$hot.Coin}} {{$balance.CurrencyConfig.Unit}} ({{$hot.Idr}} IDR)</li>
                     {{end}}
                  </ul>
               </td>
               <td>
                  <li>{{$balance.TotalUserCoin}} {{$balance.CurrencyConfig.Unit}} ({{$balance.TotalUserIdr}} IDR)</li>
               </td>
            </tr>
            {{end}}
         </table>
    </body>
</html>